name: 

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
  push:
    branches: [main]

jobs:
  deploy:
    uses: ausbernard/python-ci-pavedroad/.github/workflows/python-deploy.yaml@v1.1.0
    with:
      python-version: '3.10'